<form action="/moods" method="post">
  <label>今日の気分</label>
  <select name="feeling">
    <option value="happy">嬉しい</option>
    <option value="lucky">幸せ</option>
    <option value="sad">悲しい</option>
    <option value="angry">怒り</option>
    <option value="tirred">疲れ</option>
  </select>

  <label>メモ</label>
  <textarea name="note"></textarea>

  <button type="submit">記録する</button>
</form>