<h1>投稿を編集</h1>

<%= form_with model: @post do |form| %>
  <p>
    <% form_with model: @post do |form| %>
    <%= form.text_field :title %>
  </p>
  <p>
    <% form.label :content %><br>
    <% form.text_area :content %>
  </p>
  <p>
    <%= form.submit "更新する" %>
  </p>
<% end %>

<%= linl_to "一覧へ戻る", posts_path %>