<div class="form-wrapper">
  <div class="form-container">
    <div class="form-header">
      <h2>📝 新しい日記</h2>
      <p>今の気持ちを言葉にしてみましょう</p>
    </div>

    <%# ここで _form.html.erb を呼び出します %>
    <%= render "form", post: @post %>

    <div class="form-actions">
      <%= link_to "キャンセルして戻る", posts_path, class: "btn-cancel" %>
    </div>
  </div>
</div>