<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      /* Email styles need to be inline */
    </style>
  </head>
<<<<<<< HEAD
=======

>>>>>>> 15e83568e23540d107d48e9b5f9898576315dcad
  <body>
    <%= yield %>
  </body>
</html>
